/*Media*/

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  /*Common*/
  nav {
    align-items: flex-start;
  }

  .navigation_logo_picture {
    flex: 1;
  }

  .navigation_links {
    flex: 1;
  }

  .navigation_login_icon {
    flex: 1;
  }

  main {
    font-size: 15px;
  }

  h1 {
    font-size: 30px;
  }

  .cta {
    font-size: 1em;
    padding: 10px 50px;
  }

  footer {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer_contact_info {
    flex: 1;
  }

  .footer_created_by {
    flex: 1;
  }

  /*Homepage media query*/
  .container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .homepage_cta {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
