/*General*/

body {
  background-color: #e8e8e8;
  min-height: 100vh;
  min-width: 320px;

  display: flex;
  flex-direction: column;
}

nav,
footer {
  background-color: #5c1122;
  color: #c9b99f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation_profile_picture {
  border-radius: 50%;
}

main {
  color: black;
  font-family: Georgia, Times, serif;
  font-size: 20px;
}

.cta {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 10px 60px;
  border-radius: 15px;
  font-weight: bold;
}

.cta_red {
  background-color: #5c1122;
}

.cta_red:hover {
  color: #c9b99f;
}

.cta_blue {
  background-color: #1d2354;
  color: #80adbf;
}

.cta_blue:hover {
  background-color: #80adbf;
  color: #1d2354;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, serif;
  color: #5c1122;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

figure {
  margin: 0px;
}

/*Navigation*/

nav {
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
}

.navigation_links a {
  color: #c9b99f;
  font-size: 1.8em;
  padding: 10px;
}

.current_page {
  font-weight: bold;
}

.navigation_logo_picture a {
  margin: 10px;
}

.navigation_logo_picture {
  flex: 1;
}

.navigation_links {
  flex: 4;
}

.navigation_login_icon {
  flex: 1;
}

.navigation_login_icon i {
  color: white;
  font-size: 3em;
}

.navigation_login_icon p {
  padding-left: 3px;
  padding-top: 2px;
  margin: 0px;
}

.navigation_login_icon p {
  font-size: 0.9em;
}

.navigation_login_icon a {
  color: #c9b99f;
}

/*Footer*/

footer {
  font-size: 12px;
  margin-top: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer p {
  padding: 0px;
  margin: 0px;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

.list_link {
  color: #1d2354;
}

.list_link:visited {
  color: #5c1122;
}
