h1 {
  font-family: Georgia, Times, serif;
  color: #5c1122;
}

header,
footer {
  background-color: #5c1122;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  color: #c9b99f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2em;
  margin-left: 1em;
  flex: 1;
}

nav {
  margin-left: 0;
}
nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

.menu_items {
  flex: 6;
}

.empty {
  flex: auto;
}

.login_icon {
  flex: 1;
}

body {
  background-color: #e8e8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

main {
  background-color: #e8e8e8;
  color: black;
  font-family: Georgia, Times, serif;
  position: relative;
  margin-top: 5%;
}

footer {
  display: flex;
  align-items: center;
}

.footer_empty {
  flex: auto;
}

.footer_contact_info {
  flex: 1;
  margin-left: 10%;
}

.footer_contact_info p {
  padding: 0%;
  margin: 0%;
}

.footer_created_by {
  flex: 1;
  margin-left: 25%;
}

.footer_created_by p {
  padding: 0%;
  margin: 0%;
}

/*Links*/

a {
  text-decoration: none;
}

header a {
  color: #c9b99f;
  font-size: 1.8em;
  padding: 10px;
}

.login_icon {
  color: white;
  font-size: 4em;
  position: relative;
  float: right;
}

.cta {
  background-color: #5c1122;
  background-size: cover;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 60px;
  border-radius: 15px;
  font-weight: bold;
}

.current_page {
  font-weight: bold;
}

.hompage_picture {
  float: left;
}

.hompage_cta {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hompage_content::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .navigation_logo {
    max-width: 100%;
    height: auto;
  }

  .menu_items {
    flex: 1;
  }

  .logo_picture {
    min-width: 115px;
    max-width: 100%;
    height: auto;
  }

  .fa-user-circle {
    min-width: 115 px;
  }

  .hompage_picture {
    max-width: 400px;
    height: auto;
  }

  .footer_empty {
    flex: 1;
  }
}
